*{
  padding:0;
  margin:0;
  color:white;
  font-family:sans-serif;
}
body{
  background:#001;
  display:flex;
}
.image{
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;
  border:3px solid hwb(233 7% 6% / 0.9098039215686274);
  flex-shrink:0;
}
.image img{
  width:100%;
  
}
.photo{
  display:flex;
  align-items:center;
  gap:30px;
  
}
.photo h2{
  text-transform:capitalize;
  font-size:20px;
}


.menu{
  background:#123;
  width:55px;
  height:720px;
  padding:0 20px;
  overflow:hidden;
  transition:0.5s ease;
}
.menu:hover{
  width:260px;
}
ul{
  list-style:none;
  position:relative;
  height:95%;
}
ul li a{
  display:block;
  text-decoration:none;
  border-radius:8px;
  margin:10px 0;
  padding:10px;
  display:flex;
  align-items:center;
  gap:40px;
  transition:0.5s;
}
ul li a:hover, .active, .date-info .box:hover, td:hover{
  background:#ffffff55;
}
.log-out{
  position:absolute;
  bottom:0;
  width:100%;
}
.log-out a{
  background:hwb(0 12% 40% / 0.9450980392156862);
}
ul li a i{
  font-size:25px;
}
.content{
  width:100%;
}
.content .info{
  margin:10px;
  padding:10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:hwb(240 7% 6%);
  border-radius:10px;
}
.date-info{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  margin:0 10px;
  gap:10px;
}
.date-info .box{
  background:#123;
  height:150px;
  flex-basis:150px;
  flex-grow:1;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  transition:0.5s;
}
.date-info .box i{
  font-size:30px;
}
.date-info .box .data{
  text-align:center;
}
.date-info .box .data span{
  font-size:30px;
}
table{
  width:100%;
  text-align:center;
  border-spacing:5px;
}
td, th{
  background:#123;
  height:40px;
  border-radius:8px;
  transition:0.5s;
}
th{
  background:hwb(120 15% 9%);
}
.price, .count{
  padding:6px;
  border-radius:5px;
}
.price{
  background:hwb(39 12% 19% / 0.8588235294117647);
}
.count{
  background:hwb(180 28% 6% / 0.4666666666666667);
}